*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow: hidden;
}

.container{
    position: relative;
    background: #da5555;
}

#user{
    position: absolute;
    transition: all 0.1s;
}

#container-transition{                
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 20;
}        