    // Default params
*{
    margin: 0px;
    padding: 0px;
    cursor: none;
}
body{
    overflow: hidden;    
}
    /* container with the app  */
.container{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url(../assets/img/Backgrounds/Test.png);
    
    .game-container{
        position: absolute;
        top: 0;
        background: #925353;
        transition: all 1s;
        overflow: hidden;
        z-index: 10;
        /*User style default*/
        #user{
            position: absolute;
            transition: all 0.1s;
        }
    }
}



@import './Menu/Menu-config.less';
@import './Menu//Menu-escape.less';
@import './Menu/Menu-Home.less';
@import './Menu/Menu-Levels.less';