/* config menu modals */
.config{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;    
    background-color: rgba(56, 51, 51, 0.26);    

    display: none;
    justify-content: center;
    align-items: center;

    .modal-config{        
        position: absolute;
        width:65.9375vw;
        height:73.888888889vh;
        background-color: #69304c;
        .title-config{
            width:18.125vw;
            height:3.333333333vh;
            margin: 56px auto;
            background: url('../../assets/img/Menu/TitleConfig.png') no-repeat;
            background-size: contain;
        }

    }
}

/* Modals */
@keyframes showModal{
    from{        
        opacity: 50%;
        transform: scale(0.5);
    }
    to{
        opacity: 100%;
        transform: scale(1);
    }
}
@keyframes hideModal{
    from{
        opacity: 100%;
        transform: scale(1);
    }
    to{        
        opacity: 50%;
        transform: scale(0.5);
    }
}