/* config menu modals */
.config{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;    
    background-color: rgba(56, 51, 51, 0.26);    

    display: none;
    justify-content: center;
    align-items: center;

    .modal-config{        
        position: absolute;
        width: 1055px;
        height: 665px;
        background: url('../../assets/img/Menu/modalBackground.png');

        .title-config{
            width: 290px;
            height: 30px;
            margin: 56px auto;
            background: url('../../assets/img/Menu/TitleConfig.png');
        }

    }
}

/* Modals */
@keyframes showModal{
    from{        
        opacity: 50%;
        transform: scale(0.5);
    }
    to{
        opacity: 100%;
        transform: scale(1);
    }
}
@keyframes hideModal{
    from{
        opacity: 100%;
        transform: scale(1);
    }
    to{        
        opacity: 50%;
        transform: scale(0.5);
    }
}