/*Menu home*/
.Main-menu{
    width: 100%;
    height: 100%;
    position: relative;   

    /*Menu home left*/
    .left-Bar{
        width: 45%;
        height: 100%;
        top:0;
        left: 0;    
        position: absolute;
    
        display: flex;
        flex-flow: column wrap;
        justify-content:center;
        align-items: flex-start;

        .button-start{
            margin-left: 60px;
            margin-bottom: 100px;
            height: 50px;
            width: 250px;
            border: none;
            position: relative;
            transition: all 0.3s;
        }
        .button-config{
            margin-left: 60px;
            width: 580px;
            height: 50px;
            border: none;
            position: relative;
            transition: all 0.3s;
        }

        .button-config,.button-start{
            transform: translate(70px);
            border: none;
            outline: none;
        }

        .selected::after{
            content: '';
            position: absolute;
            top: 0;
            left: -70px;
            background: url('../../assets/img/Menu/Arrow.png');
            width: 50px;
            height: 50px;
        }

    }
    /*Menu home right*/
    .right-Bar{
        width: 55%;
        height: 100%;
        top:0;
        right: 0;;    
        position: absolute;

        .bottom-Bar{
            width: 100%;    
            height: 15%;
            bottom: 0%;
            bottom: 0%;
            position: absolute;
            background: transparent;
        }
    }
}

    /*Show menu home*/
@keyframes showleftBar{
    top{
        left:0;
    }

    from{
        left:-100%;
    }
}
@keyframes showbottomBar{
    top{
        bottom:0;
    }
    from{
        bottom:-100%;
    }
}
    /*hide menu home*/
@keyframes hideleftBar{
    from{
        left:0;
    }

    to{
        left:-100%;
    }
}
@keyframes hidebottomBar{
    from{
        bottom:0;
    }
    to{
        bottom:-100%;
    }
}